.transaction-info__container {
  display: block;
}

.transaction-info__container:after {
  content:'';
  display: block;
  margin: 0 ;
  width: 55%;
  border-bottom: solid black 2px;
}

.transaction-info {
  display: flex;
  position: relative;
}

.transaction-info__element {
  width: 15%;
  position: relative;
}
